body{
    margin: 0;
    background-color: black;
    font-family: 'Roboto';
}
.container{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 38%;
    user-select: none;
    background-color: #252525;
}
.container .slide_img{
    position: absolute;
    width: 100%;;
    height: 100%;
}
.container .slide_img img{
    width: inherit;
    height: inherit;
}
.prev, .next{
    width: 12%;
    height: inherit;
    position: absolute;
    top:0;
    color:rgba(244, 244, 244,.9);
    z-index: 11;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}
.next{right:0;}
.prev{left:0;}
label span{
    position: absolute;
    font-size: 100pt;
    top: 50%;
     transform: translateY(-50%);
}
.prev:hover, 
.next:hover{
      transition: .3s;
      background-color: rgba(88, 88, 89,.2);
      color: #ffffff; 
  }
  .container #nav_slide{
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}
#nav_slide .dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
}
#nav_slide .dots:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    transition: .25s
}
.slide_img{z-index: -1;}
#i1:checked ~ #one  ,
#i2:checked ~ #two  ,
#i3:checked ~ #three,
#i4:checked ~ #four ,
#i5:checked ~ #five 
{z-index: 9; animation: scroll 1s ease-in-out;}
#i1:checked  ~  #nav_slide #dot1,
#i2:checked  ~  #nav_slide #dot2,
#i3:checked  ~  #nav_slide #dot3,
#i4:checked  ~  #nav_slide #dot4,
#i5:checked  ~  #nav_slide #dot5
{ background-color: rgba(255,255,255,.9);}
@keyframes scroll{
0%{	opacity:.4;}
100%{opacity:1;}
}
.slideTextBox{
position: absolute;
width: 629px;
height: 348px;
left: 0px;
top: 287px;
z-index: 10;

background: rgba(0, 0, 0, 0.3);
}
h1{
position: absolute;
width: 270px;
height: 90px;
left: 260px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 45px;

   
}
p{
position: absolute;
width: 275px;
height: 134px;
left: 298px;
top: 135px;

/* body */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #FFFFFF;
}
.textBoxtxt > h1{
    width: 50%;
    margin-left: 180px;
    margin-top: 100px;
}
.textBoxtxt > p{
    width: 50%;
    margin-left: 180px;
  
}

@media screen and (max-width: 685px){
    .container{
        border: none;
        width: 100%;
        height: 0;
        padding-bottom: 400px; 
    }	
    
    label span { font-size: 50pt; }
    
    .prev, .next{
        width: 15%;
    }	
    #nav_slide .dots{
        width: 12px;
        height: 12px;
    }

    .slideTextBox>text{
        position: absolute;
        text-align: center;
        width: 100%;
        height: auto;
        margin-left: -28%;
        margin-top: 400px;
        margin-bottom: 5px;
        background: rgba(0, 0, 0, 0.3);
        }

        h1>text{
            position: absolute;
            padding-top: 50px;
            width: 100%;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            line-height: 45px;
            color: #FFFFFF;
            }

            p>text{
            position: relative;
            width: 100%;
            text-align: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            margin-left: 150px;
            padding-bottom: -200px;
            padding-top: 100px;
            }
        
}
@media screen  and(min-width: 970px){
    .me{ display: none;}
}